@*@model List<Resident>*@
@model ModelBinding

@{
    ViewBag.Title = "Accounts";
}

@section head{

    <style>
        .link-header {
            text-decoration: none;
            font-size: 20px;
            color: #6b7280;
            font-weight: 400;
        }

        a.link-header {
            margin-right: 1rem;
        }

        span .link-header.active {
            background-color: #052771;
            padding: 5px;
            border-radius: 6px;
            color: white;
            font-weight: bold;
        }

            span .link-header.active:hover {
                color: white;
            }

        span .link-header:hover {
            color: #052771;
        }

        .account-header {
            background-color: #e2e8f0;
        }

        #staff, #resident {
            display: none;
        }

        #modalImage {
            height: 400px;
            width: 100%;
        }
    </style>
}

@section scripts{
    <script src="~/js/employeeSignup.js">
    </script>
    <script>
        $(document).ready(function () {

            function hidePreloader() {
                const loader = $('#loader');
                setTimeout(function () {
                    $('#loader').addClass('d-none');
                }, 2000);

            }
            function showPreloader() {
                const loader = $('#loader');
                loader.removeClass('d-none');
                setTimeout(function () {
                    $('#loader').addClass('d-none');
                }, 2000);
            }

            /*   NAVBAR    */
            $('section').hide(); // Hide all sections initially


            $('#staff').show(); // Show the default section (Staff)


            $('.link-header').click(function (e) { // Handle click events on header links
                e.preventDefault();


                $('.link-header').removeClass('active');// Remove 'active' class from all links


                $(this).addClass('active');// Add 'active' class to clicked link


                var targetSection = $(this).attr('href');// Get the target section from the href attribute

                console.log(targetSection)

                $('section').hide(); // Hide all sections


                $(targetSection).show(); // Show the target section
                /* END  NAVBAR    */


                /*IMAGE GET METHOD*/
                $('.load-image').on('click', function () {
                    var residentId = $(this).siblings('#res_id').val();

                    if (residentId) { // Check if residentId has a value
                        $('#staticBackdrop').data('resident-id', residentId); // Store the residentId in a data attribute of the modal

                        // Show preloader before triggering the modal to open
                        // Trigger the modal to open
                        $('#staticBackdrop').modal(showPreloader(),'show');
                    } else {
                        alert('No resident ID found.');
                    }
                });
                /*END IMAGE METHOD*/

                // Add this new event listener
                $('#staticBackdrop').on('shown.bs.modal', function (e) { // changed to 'shown.bs.modal'
                    var modal = $(this);
                    var residentId = modal.data('resident-id');

                    if (residentId) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetImageBase64", "AdminAccount")',
                            data: { id: residentId },
                            success: function(result) {
                                if (result.success) {
                                    $('#modalImage').attr('src', 'data:image/jpeg;base64,' + result.imageBase64);
                                    $('#modalImage').show();
                                } else {
                                    alert('Failed to load image.');
                                }
                                //hidePreloader(); // Hide preloader after the image is successfully loaded
                            },
                            error: function() {
                                alert('An error occurred while loading the image.');
                                hidePreloader(); // Hide preloader if there's an error
                            }
                        });
                    } else {
                        hidePreloader(); // Hide preloader if there's no residentId
                        alert('No resident ID available.');
                    }
                });

                // Hide preloader when the modal is hidden
                $('#staticBackdrop').on('hidden.bs.modal', function () {
                    // Reset modal content when it's closed
                    $('#modalImage').attr('src', '').hide();
                    $('#imagePreloader').show();
                });
            });
        });


    </script>


    <!-- PAGINATION -->
    <script>
        $(document).on('change', '#emp-search', function () {
            pagination_action();
        })

        function pagination_action(i = 1) {//Yung i is default pero pwedeng ibang letter ilagay dyan [i] lang nilalagay ko
            var _search = $('#emp-search').val();
            //var date = $('#selectedDateRange').val();
            //var start_date = moment(date.substring(0, 10));
            //var end_date = moment(date.substring(13, 23));

            var array = {
                search: _search,
                page_index: i
                //DateStart: start_date.format('YYYY-MM-DD'),
                //DateEnd: end_date.format('YYYY-MM-DD')
            };

            //console.log(start_date.format('YYYY-MM-DD'));
            //console.log(end_date.format('YYYY-MM-DD'))
            //console.log(array);

            $.ajax({
                url: window.location.origin + '/adminaccount/myPagination',
                type: "POST",
                data: array,
                success: function (response) {
                    var result = $(response).find("#tableData").html();
                    console.log(result);
                    $('#tableData').html(result)
                },
                error: function (xhr, status, error_m) {
                    alert(status);
                }
            });
        }
        //Force to trigger page_load -> ginagamit ko tong codes na ito pag ayaw gumana ng page_load
        //document.addEventListener('DOMContentLoaded', function () {
        //    pagination_action();
        //}, false);

    </script>
}

<div class="d-none border" id="loader">
    @await Html.PartialAsync("PartialView/_Preloader")
</div>

@if (ViewBag.Success != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!--/////////////////////-->
<!-- Modal IMAGE-->
<!--/////////////////////-->
<!--/////////////////////-->
<!--END Modal IMAGE-->
<!--/////////////////////-->
<!--/////////////////////-->
<!-- Modal FORM -->

@await Html.PartialAsync("PartialView/_FormEmployee")


<!-- END Modal FORM -->
<!--/////////////////////-->


<div class="container">
    <div class="col-xl-7 content-container w-100">
        <div class="p-3 account-header">
            <div class="container d-flex">
                <span><a class="link-header active" href="#staff">Staff</a></span>
                <span><a class="link-header" href="#resident">Resident</a></span>
            </div>
        </div>
        <div class="container mt-3">

            <!-- STAFF SECTION -->
            <section id="staff">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-employee">
                            <i class="fa-solid fa-plus"></i>
                            <span class="fw-bold ms-2" style="font-size:1rem;">NEW</span>
                        </button>
                    </div>
                    <div class="col">
                        <nav class="navbar bg-body-tertiary">
                            <div class="container-fluid">
                                <input id="emp-search" class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table" id="tableData">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @{
                                int indexx = Model.EmployeePagination.Index + 1;
                                foreach (var item in Model.EmployeePagination.ModelList)
                                {
                                    <tr>
                                        <th scope="row">@indexx</th>
                                        <td>@string.Join(", ", item.Lname, item.Fname, item.Mname)</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>@item.Username</td>
                                        <td>@item.Role</td>
                                        <td>@item.Created_At</td>
                                        <td>
                                            <div class="d-flex ">
                                                <button class="btn btn-success btn-sm edit-btn" data-id="@item.Emp_ID" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="edit">
                                                    <!--data-bs-toggle="modal" data-bs-target="#modal-employee"-->
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm ms-2 delete-btn" data-id="@item.Emp_ID" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="delete">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                    indexx++;
                                }
                            }
                            <tr>
                                <td colspan="8">
                                    <div class="container d-flex align-content-center border border-danger">
                                         @Model.EmployeePagination.Pagenation
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <!--RESIDENT SECITON-->
            <section id="resident">
                @*@await Html.PartialAsync("PartialView/_ResidentAccounts")*@
                @await Html.PartialAsync("PartialView/_ResidentAccounts")
            </section>
        </div>
    </div>
</div>