@*@model List<Resident>*@
@model ModelBinding

@{
    ViewBag.Title = "Accounts";
}

@section head{
    <link href="/lib/just-select/justselect.css" rel="stylesheet" />
    <link href="/css/custom-search.css" rel="stylesheet" />
    <style>
        .link-header {
            text-decoration: none;
            font-size: 20px;
            color: #6b7280;
            font-weight: 400;
        }

        a.link-header {
            margin-right: 1rem;
        }

        span .link-header.active {
            background-color: #052771;
            padding: 5px;
            border-radius: 6px;
            color: white;
            font-weight: bold;
        }

            span .link-header.active:hover {
                color: white;
            }

        span .link-header:hover {
            color: #052771;
        }

        .account-header {
            background-color: #e2e8f0;
        }

        #staff, #resident {
            display: none;
        }

        #modalImage {
            height: 400px;
            width: 100%;
        }

        /*RESIDENT ACCOUNT CSS*/

        #toggleSwitch {
            width: 60px;
            height: 25px;
        }
        #lblSwitch {
            padding: 5px;
            color: white;
            background-color: #ef4444;
            border-radius: 6px;
        }
    </style>
}

@section scripts{
    <script src="~/js/employeeSignup.js"></script>
    <script src="~/js/staffAccount.js"></script> <!--FOR STAFF or EMPLOYEE-->
    <script src="~/js/residentAccount.js"></script> <!--PARTIAL VIEW RESIDENT-->


    <!-- PAGINATION -->
}

<div class="d-none border" id="loader">
    @await Html.PartialAsync("PartialView/_Preloader")
</div>

<!--/////////////////////-->
<!-- Modal IMAGE-->
<!--/////////////////////-->
<!--/////////////////////-->
<!--END Modal IMAGE-->
<!--/////////////////////-->
<!--/////////////////////-->
<!-- Modal FORM -->

@await Html.PartialAsync("PartialView/_FormEmployee")


<!-- END Modal FORM -->
<!--/////////////////////-->


<div class="container">
    <div class="col-xl-7 content-container w-100">
        <div class="p-3 account-header">
            <div class="container d-flex">
                <span><a class="link-header active" href="#staff">Staff</a></span>
                <span><a class="link-header" href="#resident">Resident</a></span>
            </div>
        </div>
        <div class="container mt-3">

            <!-- STAFF SECTION -->
            <section id="staff">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <div class="search-wrapper">
                            <div class="left">
                                <span><i class="fa-solid fa-magnifying-glass ms-2 me-2"></i></span>
                                <input type="search" class="search-input" id="emp-search" placeholder="Search...">
                            </div>
                            <div class="vertical-divider"></div>
                            <div class="right">
                                <select class="justselect" id="category">
                                    <option selected value="name">Name</option>
                                    <option value="role">Role</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex mt-3 justify-content-sm-start mt-sm-0 justify-content-md-end">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-employee" style="background-color: #030712; color:white;">
                            <i class="fa-solid fa-plus"></i>
                            <span class="fw-bold ms-2" style="font-size:1rem;">Staff Account</span>
                        </button>
                    </div>

                </div>

                <div class="table-responsive mt-4">
                    <table class="table" id="tableData">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @{

                                if (Model.EmployeePagination.NumberOfData < 1)
                                {
                                    <tr>
                                        <td class="text-center text-uppercase p-5" colspan="8"><strong>No Data Found!</strong></td>
                                    </tr>
                                }
                                else
                                {
                                    int indexx = Model.EmployeePagination.Index + 1;

                                    foreach (var item in Model.EmployeePagination.ModelList)
                                    {
                                        <tr>
                                            <th scope="row">@indexx</th>
                                            <td>@string.Join(", ", item.Lname, item.Fname, item.Mname)</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Username</td>
                                            <td>@item.Role</td>
                                            <td>@item.Created_At</td>
                                            <td>
                                                <div class="d-flex ">
                                                    <button class="btn btn-success btn-sm edit-btn" data-id="@item.Emp_ID" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="edit">
                                                        <!--data-bs-toggle="modal" data-bs-target="#modal-employee"-->
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm ms-2 delete-btn" data-id="@item.Emp_ID" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="delete">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                        indexx++;
                                    }
                                }


                            }
                            <tr>
                                <td colspan="8">
                                    <div class="container mt-3">
                                        @Model.EmployeePagination.Pagenation
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <!--RESIDENT SECITON-->
            <section id="resident">
                @*@await Html.PartialAsync("PartialView/_ResidentAccounts")*@
                @await Html.PartialAsync("PartialView/_ResidentAccounts")
            </section>
        </div>
    </div>
</div>