@*@model List<Resident>*@
@model ModelBinding

@{
    ViewBag.Title = "Accounts";
}

@section head{
    <link href="/lib/just-select/justselect.css" rel="stylesheet" />
    <link href="/css/custom-search.css" rel="stylesheet" />
    <style>
        .link-header {
            text-decoration: none;
            font-size: 20px;
            color: #6b7280;
            font-weight: 400;
        }

        a.link-header {
            margin-right: 1rem;
        }

        span .link-header.active {
            background-color: #052771;
            padding: 5px;
            border-radius: 6px;
            color: white;
            font-weight: bold;
        }

            span .link-header.active:hover {
                color: white;
            }

        span .link-header:hover {
            color: #052771;
        }

        .account-header {
            background-color: #e2e8f0;
        }

        #staff, #resident {
            display: none;
        }

        #modalImage {
            height: 400px;
            width: 100%;
        }

        .tableRow {
            /*border: 1px solid #ddd;*/
            /*background-color: #fff;*/
            /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        }

        .tableContents {
            /*border-radius: 0 0 5px 5px;*/
            background-color: #e2e8f0;
            box-shadow: 0 4px 4px rgba(71, 85, 105, 0.1);
            padding: 3px;
            border-color: #334155;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }

            .tableContents:hover {
                transform: translateY(-2px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
    </style>
}

@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/signalrSetupConnection.js"></script>
    <script src="~/js/employeeSignup.js"></script>
    <script src="~/js/staffAccount.js"></script> <!--FOR STAFF or EMPLOYEE-->
    @*<script src="~/js/residentAccount.js"></script>*@ <!--PARTIAL VIEW RESIDENT-->
    <script>
        $(document).ready(function () {
            //SIGNAL R CONNECTION
            const accountConnection = setupSignalRConnection("/staff/account", "Accounts Hub");

            accountConnection.on("ReceivedNewRegisterAccount", function (message) {
                toastr.success("New account was registered!");
                console.log("New account was registered!");
                respagination();
            });

            //event listener
            $(document).on('change', '#res-search', function () {
                respagination();
            })

            $(document).on('click', '.respagination', function (event) {
                event.preventDefault();
                //const page = parseInt($(this).text(), 10);
                var respage = parseInt($(this).data('respagination'), 10);
                alert(respage);
                console.log(respage);
                respagination(respage);
            });

            function respagination(i = 1) {//Yung i is default pero pwedeng ibang letter ilagay dyan [i] lang nilalagay ko
                var _search = $('#res-search').val();
                var _category = $('#res-category').val();
                //var _isActive = $('#toggleSwitch').prop('checked');
                //console.log(`Category = ${_category}, Active = ${_isActive}`);

                var array = {
                    search: _search,
                    category: _category.toLowerCase(),
                    //is_verified: _isActive.toString(),
                    page_index: i

                };


                $.ajax({
                    url: '/AdminAccount/ResidentPagination',
                    type: "POST",
                    data: array,
                    success: function (response) {
                        var result = $(response).find("#res-tableData").html();
                        console.log(result);
                        $('#res-tableData').html(result)
                    },
                    error: function (xhr, status, error_m) {
                        toastr.error(xhr.responseText);
                    }
                });
            }
        });
    </script>

    <!-- PAGINATION -->
}

@section sidebar{
    <a href="/kvhai/staff/admin/dashboard" class="nav-link text-light mb-2 d-flex align-items-center ">
        <i class="bi bi-house-door me-2"></i> Dashboard
    </a>
    <a href="/kvhai/staff/admin/accounts" class="nav-link text-light mb-2 d-flex align-items-center active">
        <i class="bi bi-file-earmark-text me-2"></i> Accounts
    </a>
    <a href="/kvhai/staff/announcement" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-file-earmark-text me-2"></i> Announcement
    </a>
    <a href="/kvhai/staff/request-page/" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-person me-2"></i> Request
    </a>
    <a href="/kvhai/staff/resident-address/" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-person me-2"></i> Resident Address
    </a>
    <a href="/kvhai/staff/admin/streets" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-person me-2"></i> Streets
    </a>

}
@section mobilenav{
    <a href="/kvhai/staff/admin/dashboard" class="nav-link text-light mb-2 d-flex align-items-center ">
        <i class="bi bi-house-door me-2"></i> Dashboard
    </a>
    <a href="/kvhai/staff/admin/accounts" class="nav-link text-light mb-2 d-flex align-items-center active">
        <i class="bi bi-file-earmark-text me-2"></i> Accounts
    </a>
    <a href="/kvhai/staff/announcement" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-file-earmark-text me-2"></i> Announcement
    </a>
    <a href="/kvhai/staff/request-page/" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-person me-2"></i> Request
    </a>
    <a href="/kvhai/staff/resident-address/" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-person me-2"></i> Resident Address
    </a>
    <a href="/kvhai/staff/admin/streets" class="nav-link text-light mb-2 d-flex align-items-center">
        <i class="bi bi-person me-2"></i> Streets
    </a>

}

<div class="d-none border" id="loader">
    @await Html.PartialAsync("PartialView/_Preloader")
</div>

<!--/////////////////////-->
<!-- Modal IMAGE-->
<!--/////////////////////-->
<!--/////////////////////-->
<!--END Modal IMAGE-->
<!--/////////////////////-->
<!--/////////////////////-->
<!-- Modal FORM -->

@await Html.PartialAsync("PartialView/_FormEmployee")


<!-- END Modal FORM -->
<!--/////////////////////-->

<div class="card">
    <div class="card-body">
        <div class="p-3 account-header">
            <div class="container-fluid d-flex">
                <span><a class="link-header active" href="#staff">Staff</a></span>
                <span><a class="link-header" href="#resident">Resident</a></span>
            </div>
        </div>
        <div class="container-fluid shadow-sm rounded-bottom">
            <!-- STAFF SECTION -->
            <section id="staff" class="pt-3">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <div class="search-wrapper">
                            <div class="left">
                                <span><i class="fa-solid fa-magnifying-glass ms-2 me-2"></i></span>
                                <input type="search" class="search-input" id="emp-search" placeholder="Search...">
                            </div>
                            <div class="vertical-divider"></div>
                            <div class="right">
                                <select class="justselect" id="category">
                                    <option selected value="lname">Surname</option>
                                    <option value="role">Role</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex mt-3 justify-content-sm-start mt-sm-0 justify-content-md-end">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal-employee" style="background-color: #030712; color:white;">
                            <i class="fa-solid fa-plus"></i>
                            <span class="fw-bold ms-2" style="font-size:1rem;">Staff Account</span>
                        </button>
                    </div>

                </div>

                <div class="table-responsive mt-4">
                    <table class="table table-striped" id="tableData">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @{
                                if (Model.EmployeePagination != null)
                                {
                                    if (Model.EmployeePagination.NumberOfData < 1)
                                    {
                                        <tr>
                                            <td class="text-center text-uppercase p-5" colspan="8"><strong>No Data Found!</strong></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        int indexx = Model.EmployeePagination.Index + 1;

                                        foreach (var item in Model.EmployeePagination.ModelList)
                                        {
                                            <tr>
                                                <th scope="row">@indexx</th>
                                                <td>@string.Join(", ", item.Lname, item.Fname, item.Mname)</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                <td>@item.Username</td>
                                                <td>@item.Role</td>
                                                <td>@item.Created_At</td>
                                                <td>
                                                    <div class="d-flex ">
                                                        <button class="btn btn-success btn-sm edit-btn" data-id="@item.Emp_ID" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="edit">
                                                            <!--data-bs-toggle="modal" data-bs-target="#modal-employee"-->
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                        </button>
                                                        <button class="btn btn-danger btn-sm ms-2 delete-btn" data-id="@item.Emp_ID" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="delete">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>

                                            indexx++;
                                        }
                                    }
                                }
                            }
                            <tr>
                                <td colspan="8">
                                    <div class="container-fluid mt-3">
                                        @{
                                            if (Model.EmployeePagination != null)
                                            {
                                                @Model.EmployeePagination.Pagenation
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <!--RESIDENT SECITON-->
            <section id="resident">
                @*@await Html.PartialAsync("PartialView/_ResidentAccounts")*@
                @await Html.PartialAsync("PartialView/_ResidentAccounts")
            </section>
        </div>
    </div>
</div>

