@{
    ViewBag.Title = "Request Page";
}

@section head{
    <link href="/lib/just-select/justselect.css" rel="stylesheet" />
    <link href="/css/custom-search.css" rel="stylesheet" />
    <style>
        .normal_btn {
            padding: 6px;
        }

        .status {
            font-size: 1rem;
            font-weight: 600;
            padding: 8px;
            border-radius: 5px;
            background-color: gray;
            text-align: center;
        }

            .approve {
                background-color: #d1fae5;
                color: #16a34a;
            }

            .reject {
                background-color: #fee2e2;
                color: #ef4444;
            }

            .pending {
                background-color: #fef3c7;
                color: #d97706;
            }

            .cancel {
                background-color: #e2e8f0;
                color: #475569;
            }

        .status_text{
            font-size:.8rem;
            font-weight:600;
        }

        .filter_pill {
            padding: 5px;
            background-color: white;
            box-shadow: 2px 3px 5px rgba(5, 37, 114,.5);
            border-radius: 20px;
            font-size: .8rem;
            font-weight: 600;
        }

        .search-wrapper{
            font-size:1rem;
            height:40px;
            width:400px;
        }
        .clear_text {
            font-size: .9rem;
            font-weight: 600;
            cursor: pointer;
            color: #334155;
        }
    </style>
}

@section scripts{
    @*<script src="~/js/signalr.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>
    <script>
        $('#filter_name').editableSelect();
        $(document).ready(function () {
            //GLOBAL VARIABLES
            let statusCode = '';

            // Event listeners
            clearFilters();
            GetDate();

            $(document).on('click', '#btn_pending', function () {
                updateStatus('Pending', 'pending');
                var statusID = $(this).data('status');
                statusCode = statusID.toString();
                
                statusFilter(statusID);
                showClearFilter();
            });

            $(document).on('click', '#btn_approve', function () {
                updateStatus('Approved', 'approve');
                var statusID = $(this).data('status');
                statusCode = statusID.toString();

                statusFilter(statusID);
                showClearFilter();
            });

            $(document).on('click', '#btn_reject', function () {
                updateStatus('Rejected', 'reject');
                var statusID = $(this).data('status');
                statusCode = statusID.toString();

                statusFilter(statusID);
                showClearFilter();
            });

            $(document).on('click', '#btn_cancel', function () {
                updateStatus('Canceled', 'cancel');
                var statusID = $(this).data('status');
                statusCode = statusID.toString();

                statusFilter(statusID);
                showClearFilter();
            });

            $(document).on('change', '#filter_date', function () {
                showClearFilter();
                statusFilter(statusCode);
            });

            $(document).on('click', '.btn_approve', function () {
                var addr_ID = $(this).data('id');
                //toastr.info(addr_ID);
                $.ajax({
                    type: 'POST',
                    url: '/RequestPage/ApprovePending',
                    data: '',
                    success: function (response) {
                        toastr.success("");
                    },
                    error: function (xhr) {
                        toastr.error(xhr.responseText);
                    }
                });
            })

            function GetDate() {
                // Get the current date
                var today = new Date();

                // Format the date as yyyy-mm-dd (this is the format required for input[type="date"])
                var formattedDate = today.toISOString().split('T')[0];

                // Set the input value to the formatted date
                $('#filter_date').val(formattedDate);
            }

            function showClearFilter() {
                var clearFilter = $('.clear_text');
                clearFilter.removeClass('d-none');
            }

            function clearFilters() {
                $(document).on('click', '.clear_text', function () {
                    $.ajax({
                        type: 'POST',
                        url: '/RequestPage/Index',
                        success: function (response) {
                            statusCode = '';
                            GetDate();
                            $('.status_text').fadeOut(200);
                            $('.clear_text').addClass('d-none');
                            var result = $(response).find('#table_body').html();
                            $('#table_body').html(result);
                        },
                        error: function (xhr) {
                            toastr.error(xhr.responseText);
                        }
                    });
                });
            }

            function updateStatus(statusText, statusClass) {
                var $statusText = $('.status_text');

                // Fade out, update content and class, then fade in
                $statusText.fadeOut(200, function () {
                    $(this)
                        .text(statusText) // Update the text inside the span
                        .removeClass('pending approve reject cancel') // Remove previous status classes
                        .addClass(statusClass) // Add the new status class
                        .fadeIn(200); // Fade in with the new text
                });
            }

            function statusFilter(statusID) {
                var _date = $('#filter_date').val();

                var formData = { status: statusID, date: _date };

                $.ajax({
                    type: 'POST',
                    url: '/RequestPage/StatusFilter',
                    data: formData, // Pass statusID to the server
                    success: function (response) {
                        // Handle the response if needed
                        var result = $(response).find('#table_body').html();
                        $('#table_body').html(result);
                    },
                    error: function (xhr) {
                        toastr.error(xhr.responseText);
                        $(document).find('#table_body').empty();
                    }
                });
            }
        });
    </script>
}

<div class="content-container p-4">
    <div class="container border border-2">
        <!-- FILTER -->
        <div class="row mt-3 mb-3">
            <div class="col d-flex">
                <span class="me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                        <path fill="currentColor" d="M12.25 13.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5zm2-4.25a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1 0-1.5zm2-4.25a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1 0-1.5z" />
                    </svg>
                </span>
                <!--FILTER FOR NAME-->
                <div class="search-wrapper">
                    <div class="left">
                        <span><i class="fa-solid fa-magnifying-glass ms-2 me-2"></i></span>
                        <input type="search" class="search-input" id="filter_search" placeholder="Search...">
                    </div>
                    <div class="vertical-divider"></div>
                    <div class="right">
                        <select class="justselect" id="category">
                            <option selected value="lname">Name</option>
                        </select>
                    </div>
                </div>

                <!--FILTER FOR STATUS-->
                <div class="dropdown ms-3 ">
                    <button class="form-control border border-2  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        STATUS
                        <span class="status_text "></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="d-flex align-items-center">
                            <div class="container mb-2"><a class="dropdown-item status pending"  data-status="0" id="btn_pending">Pending</a></div>
                        </li>
                        <li>
                            <div class="container mb-2">
                                <a class="dropdown-item status approve" id="btn_approve" data-status="1">Approved</a>
                            </div>
                        </li>
                        <li>
                            <div class="container mb-2">
                                <a class="dropdown-item status reject" id="btn_reject" data-status="2">Reject</a>
                            </div>
                        </li>
                        <li>
                            <div class="container mb-2">
                                <a class="dropdown-item status cancel" id="btn_cancel" data-status="3">Canceled</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--FILTER FOR DATE-->
                <div class="ms-3">
                    <input type="date" class="form-control border border-2" id="filter_date" name="name" value="" />
                </div>

                <!--CLEAR FILTERS-->
                <div class="clear_text d-none ms-2">
                    CLEAR
                </div>
            </div>
        </div>


        <!--MAIN BODY-->
        <div class="row">
            <div class="col-12 ">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Request</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Status</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Status Updated</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="table_body">
                            @{
                                /* status type:
                                    0 = pending
                                    1 = approve
                                    2 = reject
                                    3 = cancel
                                */
                                int i = 1;
                                if (Model.Count <1)
                                {
                                    <tr>
                                        <td colspan="8" class="text-center p-5 fw-bold">NO DATA FOUND!</td>
                                    </tr>
                                }
                                foreach (var item in Model)
                                {
                                    string className = "";
                                    string statusName = "";
                                    if (item.Status == 0)//pending
                                    {
                                        className = "pending";
                                        statusName = "Pending";

                                    }
                                    else if (item.Status == 1)//approve
                                    {
                                        className = "approve";
                                        statusName = "Approved";
                                    }
                                    else if (item.Status == 2)//reject
                                    {
                                        className = "reject";
                                        statusName = "Reject";
                                    }
                                    else if (item.Status == 3)//cancel
                                    {
                                        className = "cancel";
                                        statusName = "Canceled";
                                    }
                                    else
                                    {
                                        className = "";
                                        statusName = "";
                                    }
                                    <tr>
                                        <td>@item.Resident_Name</td>
                                        <td>@item.Address_Name</td>
                                        <td>@item.RequestType</td>
                                        <td>@item.DateCreated</td>
                                        <td><div class="status @className">@statusName</div></td>
                                        <td>@item.Comments</td>
                                        <td>@item.StatusUpdated</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="form-control border border-2 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="container mb-2">
                                                            <a class="dropdown-item status approve" href="#">Approved</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="container mb-2">
                                                            <a class="dropdown-item status reject" href="#">Reject</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    
UPDATE NEEDED ARE SEARCH OF NAME AND HOW ACTION WILL BE USED
    -click action then modal will popup to put comments then after submit request will be process

-->