@{
    Layout = "/Views/Shared/ResidentLayout/_ResidentLayout.cshtml";
    ViewBag.Title = "Home";
}

@section head{
    <style>
        #rowData {
            background-color: #f1f5f9;
            transition: all 0.3s ease-in-out;
            cursor:pointer;
        }
        #rowData:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
}


@section sidebar{
    <a href="/kvhai/resident/home" class="nav_sidebar active mb-3 ">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-house nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Home
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/announcement" class="nav_sidebar  mb-3 ">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-bullhorn"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Announcement
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/register-address" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-location-dot nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Register
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/my-address" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-location-crosshairs nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                My Address
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/water-consumption" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-gauge nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Consumption
            </div>
        </div>
    </a>
    <a href="/kvhai/resident/billing" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-money-bills nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Billing
            </div>
        </div>
    </a>

}

@section mobilenav{
    <a href="/kvhai/resident/home" class="nav_sidebar mb-3 active ps-3">
        <div class="d-flex">
            <i class="fa-solid fa-house nav_icon"></i>
            <span class="ms-3">
                Home
            </span>

        </div>
    </a>
    <a href="/kvhai/resident/announcement" class="nav_sidebar  mb-3 ps-3">
        <div class="d-flex">
            <i class="fa-solid fa-bullhorn"></i>
            <span class="ms-3">
                Announcement
            </span>

        </div>
    </a>
    <a href="/kvhai/resident/register-address" class="nav_sidebar mb-3 ps-3">
        <div class=" d-flex">
            <i class="fa-solid fa-location-dot mobile_nav_icon"></i>
            <span class="ms-3">
                Register Address
            </span>

        </div>
    </a>
    <a href="/kvhai/resident/my-address" class="nav_sidebar mb-3 ps-3">
        <div class=" d-flex">
            <i class="fa-solid fa-location-crosshairs mobile_nav_icon"></i>
            <span class="ms-3">
                My Address
            </span>
        </div>
    </a>
    <a href="/kvhai/resident/water-consumption" class="nav_sidebar mb-3 ps-3">
        <div class="d-flex">
            <i class="fa-solid fa-gauge mobile_nav_icon"></i>
            <span class="ms-3">
                Consumption
            </span>
        </div>
    </a>
    <a href="/kvhai/resident/billing" class="nav_sidebar  mb-3  ps-3">
        <div class="d-flex">
            <i class="fa-solid fa-money-bills mobile_nav_icon"></i>
            <span class="ms-3">
                Billing
            </span>
        </div>
    </a>
}



<!-- Modal -->
<!-- Modal Structure -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid" alt="Enlarged Image" />
            </div>
        </div>
    </div>
</div>


<!-- BODY -->
<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="fw-bold text-muted">Rental Applications</h5>
        <hr class="border border-black" />

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12 col-md-4">
                    <select id="address" class="form-select" aria-label="Default select example">
                        @{
                            if(Model.ResidentAddress != null){
                                if(Model.ResidentAddress.Count > 0){
                                    foreach(var item in Model.ResidentAddress)
                                    {
                                        <option value="@item.Address_ID">Blk @item.Block Lot @item.Lot @item.Street St. </option>
                                    }
                                }
                            }
                        }
                        <!-- <option selected value="1">Phase 2 (Blk 51 to  143)</option>
                        <option value="2">Phase 1 (Blk 41 to  48)</option>
                        <option value="3">Blk 24 to 40</option>
                        <option value="4">Blk 7 to 23</option>
                        <option value="">All</option> -->
                    </select>
                </div>
            </div>
            <!-- Example of an application entry -->
            <div class="container-fluid" id="rent_application">
                @{
                    if (Model.RequestAddressList != null)
                    {
                        if (Model.RequestAddressList.Count > 0)
                        {
                            foreach (var item in Model.RequestAddressList)
                            {
                                <div class="row align-items-center mb-3 border border-2 shadow-sm rounded" id="rowData" data-raid="@item.Resident_Address_ID">
                                    <div class="col-md-8">
                                        <p class="mb-0 " data-res="@item.Resident_ID"><strong>@item.Name</strong></p>
                                        <p class="mb-0 fw-bold text-muted" data-address="@item.Address_ID">Block @item.Block, Lot @item.Lot,  @item.Street St.</p>
                                        <p class="mb-0 fw-bold text-muted">Phone: @item.Phone</p>
                                        <p class="mb-0 fw-bold text-muted">Email: @item.Email</p>
                                    </div>
                                    <div class="col-md-4 text-end">
                                        <button class="btn btn-outline-success btn-sm me-2">Accept</button>
                                        <button class="btn btn-outline-danger btn-sm">Reject</button>
                                    </div>
                                </div>
                            }
                            
                        }
                        else
                        {
                            <div class="row align-items-center mb-3 border border-2 shadow-sm rounded" id="rowData">
                                <div class="col-md-12">
                                    <p class="mb-0 p-5"><strong>No Data Found.</strong></p>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
            <!-- <div class="row align-items-center mb-3 border border-2 shadow-sm rounded" id="rowData">
                <div class="col-md-8">
                    <p class="mb-0 "><strong>John Doe</strong></p>
                    <p class="mb-0 fw-bold text-muted">Block 1, Lot 2, Street 5</p>
                    <p class="mb-0 fw-bold text-muted">Phone: 123-456-7890</p>
                    <p class="mb-0 fw-bold text-muted">Email: johndoe@example.com</p>
                </div>
                <div class="col-md-4 text-end">
                    <button class="btn btn-outline-success btn-sm me-2">Accept</button>
                    <button class="btn btn-outline-danger btn-sm">Reject</button>
                </div>
            </div> -->
        </div>

        
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            //CODE FOR SIGNALR

            const homeConnection = setupSignalRConnection("/resident/home", "Home Hub");

            homeConnection.on("ShowAnnouncement", function () {
                toastr.info("Theres is an update in the announcement");
                updateAnnouncement();
            });

            function updateAnnouncement() {
                $.ajax({
                    url: "/LoggedIn/GetAnnouncement", // Your endpoint to fetch the updated list
                    type: "GET",
                    success: function (response) {
                        console.log(response);
                        var result = $(response).find("#table_announcement").html();
                        $('#table_announcement').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.error("Error fetching updated data:", error);
                    }
                });
            }

            $(document).on('click', '.image-click', function () {
                // Get the image URL from the clicked image
                var imageSrc = $(this).data('image');
                // Set the image inside the modal
                $('#modalImage').attr('src', imageSrc);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            let _addrID = $('#address option:selected').val();
            GetRequest(_addrID);

            $(document).on('change', '#address', function () {
                var addr_id = $(this).val();
                GetRequest(addr_id);
            })

            function GetRequest(addressID) {
                $.ajax({
                    type: "Get",
                    url: "/OwnerHome/GetRentalForOwner",
                    data: { address_id: addressID },
                    success: function (response) {
                        var result = $(response).find('#rent_application').html();
                        $('#rent_application').html(result);
                        console.log(result);
                    },
                    error: function (xhr) {
                        toastr.error(xhr.responseText);
                    }

                });
            }
        })
    </script>
}