@{
    ViewBag.Title = "Water Billing";
}
@section head{
    <style>
        .tableData {
            border-radius: 5px;
            background-color: #f9f9f9;
            font-size: 1rem;
        }

        .header-section {
            border-radius: 5px 5px 0 0;
            border-bottom: 2px solid #ccc;
        }

        .tableRow {
            border: 1px solid #ddd;
            background-color: #fff;
            /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        }

        .tableContents {
            /*border-radius: 0 0 5px 5px;*/
            background-color: #e2e8f0;
            box-shadow: 0 4px 4px rgba(71, 85, 105, 0.1);
            padding: 3px;
            margin-bottom: 8px;
            /*border-color: #334155;*/
            border-radius: 5px;
        }

        .details-section {
            transition: max-height 0.5s ease;
            overflow: hidden;
            /*max-height: 0;*/
        }

        .details-section {
            display: none;
            /*max-height: 300px;*/ /* Adjust based on your content */
        }

            .details-section.show {
                /*max-height: 300px;*/ /* Adjust based on your content */
                display: block;
            }

        .toggle-details {
            cursor: pointer;
            font-size: 1em;
            background-color: #2563eb;
            padding: 5px;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 3px;
        }

        .contentView {
            cursor: pointer;
        }
        .tableContents:hover {
            border: 1px solid blue;
        }

        .txtSelect {
            font-size: 1rem;
            font-weight: 400;
            color: #475569;
        }
        .form-check {
            cursor: pointer;
        }
    </style>
}

@section scripts{
    <script defer>
        $(document).ready(function () {
            var isCheck = false;
            $('#wbText').text("WaterBill No. " + $('#wbNumber').find('option:selected').val());

            $(document).on('change', '#location', GetWaterBillByLocation);
            $(document).on('click', '#selectAll', SelectAllChkBox);


            $(document).on('click', '.contentView', function () {
                var detailsSection = $(this).closest('.tableContents').find('.details-section');
                console.log($(this).closest('.tableContents').find('.details-section'));
                console.log($(this).find('.details-section').closest());
                detailsSection.toggleClass('show');

                // Toggle caret icon direction
            });

            function SelectAllChkBox() {
                var checkbox = $('.chkItem');
                var checkboxes = $('.chkItem');

                if (!isCheck) {
                    $('#chkAll').prop('checked', true);
                    checkbox.each(function () {
                        var chk = $(this).prop('checked', true);
                        
                    });

                    $('.txtSelect').text("Deselect All");

                    isCheck = true;
                }
                else {
                    $('#chkAll').prop('checked', false);
                    checkbox.each(function () {
                        $(this).prop('checked', false);
                    });
                    $('.txtSelect').text("Select All");
                    
                    isCheck = false;
                }

            }

            $(document).on('click', '#btnPrint', function () {
                //var newTab = window.open('', '_blank');
                var checkedItems = [];
                $('.chkItem:checked').each(function () {
                    // This will loop through each .chkItem that is checked
                    var ids = $(this).closest('.tables').find('#itemID').data("id");
                    var dates = $(this).closest('.tables').find('#itemDate');
                    var dateText = dates.text();

                    console.log(ids);
                    console.log(dateText);

                    if (ids && dateText) {
                        checkedItems.push({
                            WaterBill_ID: ids,
                            DateBillMonth: dateText,
                            WaterBill_Number: $('#wbNumber').val()
                        });
                    }

                });

                if (checkedItems.length > 0) {
                    $.ajax({
                        url: '/ClerkWaterBilling/Print',
                        type: 'POST',
                        data: JSON.stringify(checkedItems),
                        contentType: 'application/json; charset=utf-8',
                        xhrFields: {
                            responseType: 'blob' // Set the response type to 'blob'
                        },
                        success: function (data) {
                            var blob = new Blob([data], { type: 'application/pdf' });
                            var link = document.createElement('a');
                            window.open(window.URL.createObjectURL(blob), '_blank');

                        },
                        error: function (xhr, status, err_m) {
                            if (xhr.responseText != null || xhr.responseText != "") {
                                alert(xhr.responseText);
                            } else {

                            }
                            alert("An error occurred while processing your request.");
                        }/*,
                        xhrFields: {
                            responseType: 'blob' // Ensure the response is treated as binary data
                        }*/
                    }); 
                } else {
                    alert("Please select at least one item to print.");
                }
            });

            $(document).on('click', '.dropdown-item', function () {
                var _fileType = $(this).data('filetype'); // Get the file type from the clicked item

                var checkedItems = [];
                $('.chkItem:checked').each(function () {
                    var ids = $(this).closest('.tables').find('#itemID').data("id");
                    var dates = $(this).closest('.tables').find('#itemDate');
                    var dateText = dates.text();
                    if (ids && dateText) {
                        checkedItems.push({
                            WaterBill_ID: ids,
                            DateBillMonth: dateText,
                            WaterBill_Number: $('#wbNumber').val()
                        });
                    }
                });

                if (checkedItems.length > 0) {
                    var formData = {
                        Items: checkedItems,
                        FileType: _fileType
                    };

                    $.ajax({
                        url: '/ClerkWaterBilling/SaveFile',
                        type: 'POST',
                        data: JSON.stringify(formData),
                        contentType: 'application/json; charset=utf-8',
                        xhrFields: {
                            responseType: 'blob' // This is crucial for handling binary data from the server
                        },
                        success: function (data, status, xhr) {
                            var blob = new Blob([data], { type: xhr.getResponseHeader('Content-Type') });
                            var link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            var fileName = xhr.getResponseHeader('Content-Disposition').split(';')[1].split('=')[1].trim();
                            link.download = fileName;
                            link.click();

                            toastr.success("The file was downloaded");
                        },
                        error: function (xhr, status, err_m) {
                            if (xhr.responseText) {
                                console.log(xhr.responseText);
                            } else {
                                console.log("An error occurred while processing your request.");
                            }
                        }
                    });
                } else {
                    alert("Please select at least one item to save.");
                }
            });


            function GetWaterBillByLocation() {
                var _location = $('#location').val();

                var select = $('#wbNumber').find('option:selected').val();

                //alert(dateFrom+" To "+dateTo);

                var formData = {
                    location: _location,
                    waterBill: select,
                };

                $('#table-Data').empty();

                $.ajax({
                    type: 'GET',
                    url: '/ClerkWaterBilling/WaterBillingLocation',
                    data: formData,
                    success: function (response) {
                        //var data = JSON.parse(response);

                        //console.log(response);
                        //toastr.success(response);

                        //var data = JSON.parse(response);
                        var result = $(response).find('#table-Data').html();
                        console.log(result);
                        $('#table-Data').html(result);

                    },
                    error: function (xhr, status, err_m) {
                        toastr.error(xhr.responseText);
                    }
                });
            }

            function GetWaterBillingByNumber() {
                var select = $('#wbNumber').find('option:selected').val();

                var data = {
                    location: "1",
                    waterBill: select
                };

                $.ajax({
                    type: 'GET',
                    url: '/ClerkWaterBilling/WaterBillingLocation',
                    data: data,
                    success: function (response) {
                        //var result = $(response).find('#tableData').html();
                        //$('#tableData').html(result);

                        //var btnContent = $(response).find('#btnGenerate').html();
                        //$('#btnGenerate').html(btnContent);
                        console.log(response);
                        var res = $(response).find('#tableView').html();
                        $('#tableView').html(res);

                        $('#wbText').text("WaterBill No. " + $('#wbNumber').find('option:selected').val());
                    },
                    error: function (xhr, status, err_m) {
                        toastr.error(xhr.responseText);
                    }
                });
            }
        });
    </script>
}

<div class="content-container p-3" id="waterReadingView">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column align-items-start">
                <span class="title">KVHAI WATERWORKS </span>
                <span class="title" id="wbText">Water Bill No. ??</span>
                <span class="title">PERIOD COVER DATE</span>
            </div>
        </div>
        <div class="col d-flex justify-content-end ">
            @{
                if (Model.WaterBillNumberList.Count > 0)
                {
                    <select id="wbNumber" class="form-select w-75 mt-3 mb-3" aria-label="Default select example">
                    @for (int i = 0; i < Model.WaterBillNumberList.Count; i++)
                    {
                        var selected = (i == 0) ? "selected" : "";
                        <option selected value="@Model.WaterBillNumberList[i]">WaterBill No. @Model.WaterBillNumberList[i]</option>
			 
		            }
                   
                    </select>
                }
            }

        </div>
    </div>
    <div class="container border" id="tableView">
        <div class="row">
            <div class="col">
                <select id="location" class="form-select w-75 mt-3 mb-3" aria-label="Default select example">
                    <option selected value="1">Phase 2 (Blk 51 to  143)</option>
                    <option value="2">Phase 1 (Blk 41 to  48)</option>
                    <option value="3">Blk 24 to 40</option>
                    <option value="4">Blk 7 to 23</option>
                    <option value="">All</option>
                </select>
            </div>
            <div class="col d-flex justify-content-end">
                <a id="btnPrint" class="btn btn-secondary me-2">PRINT</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Save as
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-fileType="pdf" id="btnPdf" href="#">PDF</a></li>
                        <li><a class="dropdown-item" data-fileType="excel" id="btnExcel" href="#">EXCEL</a></li>
                        <li><a class="dropdown-item" data-fileType="doc" id="btnDocument" href="#">DOCUMENT</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tableData mb-2">
            <div class="header-section bg-secondary p-2">
                <div class="d-flex justify-content-between">
                    <span class="text-white fw-bold">WATERBILL NO.</span>
                    <span class="text-white">PERIOD COVERED:</span>
                </div>
            </div>

            <!-- MAIN CONTENT -->
            <div class="tableRow p-2" id="table-Data">
                <div class="form-check mb-2" id="selectAll">
                    <input id="chkAll" type="checkbox" name="chkbox" value="" class="form-check-input border-2" />
                    <span class="txtSelect">Select All</span>
                </div>
                @{
                    try
                    {
                        for (int i = 0; i < Model.ResidentAddress.Count; i++)
                        {
                            // Define default values for cases where data might be missing
                            string previousReading = "N/A";
                            string currentReading = "N/A";
                            string cubicMeter = "N/A";
                            string dateTextList = "N/A";
                            string billAmount = "N/A";
                            string waterBillNumber = "N/A";
                            string prevWaterBill = "";
                            string prevWaterBillAmount = "N/A";
                            string total = "N/A";


                            if (i< Model.Total.Count)
                            {
                                total = Model.Total[i].ToString("F2");
                            }

                            // Fetch the previous reading if available
                            if (i < Model.PreviousReading.Count)
                            {
                                previousReading = Model.PreviousReading[i]?.Consumption ?? "N/A";
                            }

                            // Fetch the current reading if available
                            if (i < Model.CurrentReading.Count)
                            {
                                currentReading = Model.CurrentReading[i]?.Consumption ?? "N/A";
                            }

                            // Fetch the WBDateTextList if available
                            if (i < Model.WBDateTextList.Count)
                            {
                                dateTextList = Model.WBDateTextList[i] ?? "N/A";
                            }

                            // Fetch the calculated cubic meter if available
                            if (i < Model.CubicMeter.Count)
                            {
                                cubicMeter = Model.CubicMeter[i].ToString();
                            }

                            // Fetch the calculated bill amount if available
                            if (i < Model.BillAmount.Count)
                            {
                                billAmount = Model.BillAmount[i].ToString("F2");
                            }

                            if (i < Model.PreviousBillAmount.Count)
                            {
                                prevWaterBillAmount = Model.PreviousBillAmount[i].ToString("F2");
                            }
                            if (i < Model.UnpaidWaterBill.Count)
                            {
                                prevWaterBill = Model.UnpaidWaterBill[i]?.PreviousWaterBill ?? "N/A";
                            }

                            <div class="d-flex tables">
                                <!--@i BILL-->
                                <div class="form-check">
                                    <input type="checkbox" name="chkbox_@i" value="" class="form-check-input border-2 chkItem" />
                                </div>
                                <div class="tableContents flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center border-bottom border-secondary pb-2 contentView">
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="fw-bold">#</span>
                                            <span id="itemID" data-id="@Model.WaterBill[i].WaterBill_ID">@(i+1)</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="fw-bold">Name</span>
                                            <p>@Model.ResidentAddress[i].Name</p>
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="fw-bold">Block</span>
                                            <span>@Model.ResidentAddress[i].Block</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="fw-bold">Lot</span>
                                            <span>@Model.ResidentAddress[i].Lot</span>
                                        </div>
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="fw-bold">Date</span>
                                            <span id="itemDate">@dateTextList</span>
                                        </div>

                                        @*<div>
                                    <a class="toggle-details fw-bold">SHOW</a>
                                </div>*@
                                    </div>

                                    <div class="details-section mt-3">
                                        <div class="row pb-1">

                                            <!-- METER READING -->
                                            <div class="col border border-secondary text-center">
                                                <div class="fw-bold text-uppercase ">Meter Readings</div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="fw-bold">Previous</div>
                                                        <div>@previousReading</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="fw-bold">Present</div>
                                                        <div>@currentReading</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- CONSUMPTION -->
                                            <div class="col border border-secondary text-center">
                                                <div class="fw-bold text-uppercase ">Consumption</div>
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="fw-bold">Volume</div>
                                                        <div>@cubicMeter</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="fw-bold">Rate per cubic</div>
                                                        <div>@Model.WaterRate</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row pb-1">

                                            <div class="col border border-secondary">

                                                <!-- DATE ISSUED -->
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="fw-bold text-uppercase ms-3">Date Issued:</div>
                                                    </div>
                                                    <div class="col ">
                                                        <div class="text-uppercase text-center">@Model.WaterBill[i].Date_Issue_From - @Model.WaterBill[i].Date_Issue_To</div>
                                                    </div>
                                                </div>

                                                <!-- DUE DATE-->
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="fw-bold text-uppercase ms-3">Due Date:</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-uppercase text-center">@Model.WaterBill[i].Due_Date_From - @Model.WaterBill[i].Due_Date_To</div>
                                                    </div>
                                                </div>

                                                <!-- PREVIOUS WATERBILL-->
                                                <div class="row mt-2">
                                                    <div class="col">
                                                        <div class="fw-bold text-uppercase ms-3">Previous waterbill:</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-uppercase text-center">@prevWaterBill</div>
                                                    </div>
                                                </div>


                                            </div>

                                            <!-- AMOUNT DUE -->
                                            <div class="col border border-secondary text-center">
                                                <div class="fw-bold text-uppercase">amount due - water</div>

                                                <!--CURRENT DUE-->
                                                <div class="row mt-2">
                                                    <div class="col d-flex justify-content-end">
                                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-uppercase text-center">@billAmount</div>
                                                    </div>
                                                </div>

                                                <!--ARREARS-->
                                                <div class="row mt-2">
                                                    <div class="col d-flex justify-content-end">
                                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-uppercase text-center">@prevWaterBillAmount</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row pb-1">

                                            <div class="col border border-secondary d-flex align-content-center">
                                                <!-- TOTAL -->
                                                <div class="fw-bold text-uppercase ms-3">TOTAL</div>
                                            </div>

                                            <div class="col border border-secondary ">
                                                <!--TOTAL DUE-->
                                                <div class="row mt-2 ">
                                                    <div class="col d-flex justify-content-end">
                                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="text-uppercase text-center">@total</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END @i BILL-->
                        }
                    }
                    catch (Exception ex)
                    {
                        <div class="container">
                            @ex.Message
                        </div>
                    }
                }

            </div>

        </div>
    </div>

</div>