@{
    Layout = "/Views/Shared/ResidentLayout/_ResidentLayout.cshtml";
    ViewBag.Title = "Bills";
}
@section head{
    <style>
        /* Content Container */
        .content-container {
            max-width: 100%;
            padding: 2rem;
            background-color: #f7f7f7;
        }

        /* General Card Styling */
        .chart-container, .consumption-card, .past-readings {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .chart-placeholder {
            height: 300px;
            background-color: #e9ecef;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #6c757d;
            font-size: 1.1rem;
            border-radius: 8px;
        }

        /* Table Styling */
        .table {
            border-collapse: separate;
            border-spacing: 0 10px;
        }

            .table thead th {
                border-bottom: 2px solid #ddd;
                font-weight: bold;
            }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        /* Typography and Layout */
        h5, h6 {
            color: #495057;
        }

        h5 {
            font-size: 1.25rem;
            font-weight: 600;
        }

        h6 {
            font-size: 0.875rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .fw-bold {
            font-weight: 700;
        }

        /* Consistent Padding */
        .p-4 {
            padding: 1.5rem;
        }

        .mb-3, .mb-4 {
            margin-bottom: 1.5rem;
        }

        /* Spacing for different elements */
        .shadow-sm {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        .rounded {
            border-radius: 8px !important;
        }

        .form-select {
            height: 42px;
            border-radius: 6px;
        }
    </style>
}

@section sidebar{
    <a href="/kvhai/resident/home" class="nav_sidebar mb-3 ">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-house nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Home
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/register-address" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-location-dot nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Address
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/my-address" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-location-crosshairs nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                My Address
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/water-consumption" class="nav_sidebar mb-3 active">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-gauge nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Consumption
            </div>
        </div>
    </a>
    <a href="/kvhai/resident/billing" class="nav_sidebar  mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-money-bills nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Billing
            </div>
        </div>
    </a>

}

@section mobilenav{
    <a href="/kvhai/resident/home" class="nav_sidebar mb-3 ">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-house mobile_nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Home
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/register-address" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-location-dot mobile_nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Address
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/my-address" class="nav_sidebar mb-3">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-location-crosshairs mobile_nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                My Address
            </div>

        </div>
    </a>
    <a href="/kvhai/resident/water-consumption" class="nav_sidebar mb-3 active">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-gauge mobile_nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Consumption
            </div>
        </div>
    </a>
    <a href="/kvhai/resident/billing" class="nav_sidebar mb-3 ">
        <div class="row">
            <div class="col-4  d-flex justify-content-center">
                <i class="fa-solid fa-money-bills mobile_nav_icon"></i>
            </div>
            <div class="col  d-flex justify-content-start">
                Billing
            </div>
        </div>
    </a>
}

<div class="pop_container" style="display:none;">
    <div class="pop_content">
        <div class="pop_header">
            <h3>Bills</h3>
            <button class="pop_close">x</button>
        </div>
        <hr />
        <div class="pop_body"></div>
    </div>
</div>



<div class="content-container p-4" id="waterReadingView">
    <div class="row mb-4">
        <div class="col-12 col-md-4">
            <select class="form-select shadow-sm" aria-label="Default select example" id="select_address">
                @for (int i = 0; i < Model.AddressList.Count; i++)
                {
                    var addressID = Model.AddressList[i].Address_ID;
                    var block = "Blk " + Model.AddressList[i].Block;
                    var lot = "Lot " + Model.AddressList[i].Lot;
                    var st = Model.AddressList[i].Street_Name + " St.";
                    var address = string.Join(" ", block, lot, st);

                    if (i == 0)
                    {
                        <option value="@addressID" selected>@address</option>
                    }
                    else
                    {
                        <option value="@addressID">@address</option>
                    }

                }
            </select>
        </div>
    </div>

    <div id="tableData">
        <!-- Add the table and water history -->
        @if (Model.GraphData != null && Model.GraphData.Count > 0)
        {
            <div>cite WORKS</div>
        }
        else
        {
            <div>UMAY</div>
        }

        <!--WATER RATE-->
        <div class="row mb-4 g-3">
            <!-- Chart section -->
            <div class="col-12 col-lg-9">
                <div class="chart-container p-4 bg-white shadow-sm rounded border">
                    <div class="row mb-3">
                        <div class="col-9">
                            <h5 class="text-muted mb-3">Water Consumption Overview</h5>
                        </div>
                        <div class="col-3">
                            <select class="form-control" id="select_year">
                                @for (int i = 0; i < Model.GraphYear.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <option value="@Model.GraphYear[i]" selected>@Model.GraphYear[i]</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.GraphYear[i]">@Model.GraphYear[i]</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="chart-placeholder">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- Monthly Consumption Section -->
            <div class="col-12 col-lg-3">
                <div class="consumption-card bg-white border p-4 rounded shadow-sm">
                    <div class="mb-3">
                        <h6 class="text-muted">Monthly Consumption:</h6>
                        <div class="fw-bold">
                            @if (Model.CurrentReading.Count > 0)
                            {
                                var currentReading = Model.CurrentReading[0].Consumption;

                                <span>@currentReading</span>
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </div>
                    </div>
                    <div>
                        <h6 class="text-muted">Cubic Meter</h6>
                        <div class="fw-bold">
                            @if (!string.IsNullOrEmpty(Model.CubicConsumption))
                            {
                                var cubic = Model.CubicConsumption;

                                <span>@cubic m³</span>
                            }
                            else
                            {
                                <span></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--WATER HISTORY-->
        <div class="row">
            <div class="col-12">
                <div class="past-readings bg-white p-4 rounded shadow-sm border">
                    <h5 class="mb-3">Past Reading Water Consumption</h5>
                    <div class="table-responsive">
                        <table class="table table-striped align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Consumption</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AllWaterReadingByResident.Count > 0)
                                {
                                    foreach (var item in Model.AllWaterReadingByResident)
                                    {
                                        <tr>
                                            <td>@item.Date</td>
                                            <td>@item.Consumption</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2" class="text-center p-5">No Existing Data!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/lib/chartjs/chart.umd.min.js"></script>
    <script>
        $(document).ready(function () {
            var myChart;

            GetGraphData();

            $(document).on('change', '#select_address', function () {
                var addr_id = $('#select_address').val();
                var _year = $('#select_year').val();

                $.ajax({
                    type: "POST",
                    url: "/WaterConsumption/WaterReadingByAddress",
                    data: { addressID: addr_id, year: _year },
                    success: function (response) {
                        // Update HTML with the new data
                        var html = response.html;
                        console.log(response);
                        console.log(response.graphData);

                        var htmlResult = $(html).find('#tableData').html()
                        $('#tableData').html(htmlResult);

                        //// Process the graph data
                        var chartData = response.graphData;
                        var labels = chartData.map(item => item.dateMonth);
                        var data = chartData.map(item => parseInt(item.cubicConsumption));

                        ////// Update the chart with new data
                        SetChartJs(labels, data);
                    },
                    error: function (xhr) {
                        toastr.error(xhr.responseText);
                    }
                });
            });

            function GetGraphData() {
                var addr_id = $('#select_address').val();
                var _year = $('#select_year').val();
                $.ajax({
                    url: '@Url.Action("GraphWaterReading", "WaterConsumption")',
                    type: 'GET',
                    data: { addressID: addr_id, year: _year},
                    success: function (data) {
                        var months = [];
                        var consumptions = [];

                        data.forEach(function (item) {
                            months.push(item.dateMonth);
                            consumptions.push(item.cubicConsumption);
                        });

                        // Set the chart
                        SetChartJs(months, consumptions);
                    },
                    error: function (xhr) {
                        toastr.error(xhr.responseText);
                    }
                });
            }

            function SetChartJs(labels, data) {
                const ctx = $('#myChart');

                // Destroy the old chart if it exists
                if (myChart) {
                    myChart.destroy();
                }

                myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Cubic Meter Consumption',
                            data: data,
                            backgroundColor: '#044970',
                            borderWidth: 2,
                            borderColor: '#280470'
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Cubic Meter Consumption'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Months'
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 14,
                                        weight: 'bold'
                                    }
                                }
                            }
                        }
                    }
                });
            }
        });

    </script>
}
